.checkbox {
  justify-content: flex-start;
}

.handle {
  position: absolute;
  left: 88%;
}

.list {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.item {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-size: 14px;
}

.input {
  padding-left: 10px;
}

.divider {
  margin: 0 15px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
