<h1 style="width: 100px; height: 100px; position: absolute; left: 50%; margin-left: -50px"><u>{{loc.city.name}}</u></h1>

<div style="width: 100px; height: 100px; position: absolute; left: 6%; margin-left: 17px; top: 10%; margin-top: -40px" *ngIf="loc.list[0]">
  <h2 style="padding-left: 30px; margin-top: 100px">{{loc.list[0].dt_txt | date: 'E' }}</h2>
  <img src="http://openweathermap.org/img/wn/{{loc.list[0].weather[0].icon}}@2x.png" style="margin-top: -10px">
  <h3 style="padding-left: 30px; margin-top: -10px">{{(loc.list[0].main.temp - 273.15) | number:'1.0-0'}}°C</h3>
  <h2 style="padding-left: 30px; font-size: 10px">{{loc.list[0].dt_txt | date:'shortTime' }}</h2>
</div>

<div style="width: 100px; height: 100px; position: absolute; left: 6%; margin-left: 150px; top: 10%; margin-top: -40px" *ngIf="loc.list[1]">
  <h2 style="padding-left: 30px; margin-top: 100px">{{loc.list[1].dt_txt | date: 'E' }}</h2>
  <img src="http://openweathermap.org/img/wn/{{loc.list[1].weather[0].icon}}@2x.png" style="margin-top: -10px">
  <h3 style="padding-left: 30px; margin-top: -10px">{{(loc.list[1].main.temp - 273.15) | number:'1.0-0'}}°C</h3>
  <h2 style="padding-left: 30px; font-size: 10px">{{loc.list[1].dt_txt | date:'shortTime' }}</h2>
</div>

<div style="width: 100px; height: 100px; position: absolute; left: 6%; margin-left: 290px; top: 10%; margin-top: -40px" *ngIf="loc.list[2]">
  <h2 style="padding-left: 30px; margin-top: 100px">{{loc.list[2].dt_txt | date: 'E' }}</h2>
  <img src="http://openweathermap.org/img/wn/{{loc.list[2].weather[0].icon}}@2x.png" style="margin-top: -10px">
  <h3 style="padding-left: 30px; margin-top: -10px">{{(loc.list[2].main.temp - 273.15) | number:'1.0-0'}}°C</h3>
  <h2 style="padding-left: 30px; font-size: 10px">{{loc.list[2].dt_txt | date:'shortTime' }}</h2>
</div>

<div style="width: 100px; height: 100px; position: absolute; left: 6%; margin-left: 430px; top: 10%; margin-top: -40px" *ngIf="loc.list[3]">
  <h2 style="padding-left: 30px; margin-top: 100px">{{loc.list[3].dt_txt | date: 'E' }}</h2>
  <img src="http://openweathermap.org/img/wn/{{loc.list[3].weather[0].icon}}@2x.png" style="margin-top: -10px">
  <h3 style="padding-left: 30px; margin-top: -10px">{{(loc.list[3].main.temp - 273.15) | number:'1.0-0'}}°C</h3>
  <h2 style="padding-left: 30px; font-size: 10px">{{loc.list[3].dt_txt | date:'shortTime' }}</h2>
</div>

<div style="width: 100px; height: 100px; position: absolute; left: 6%; margin-left: 570px; top: 10%; margin-top: -40px" *ngIf="loc.list[4]">
  <h2 style="padding-left: 30px; margin-top: 100px">{{loc.list[4].dt_txt | date: 'E' }}</h2>
  <img src="http://openweathermap.org/img/wn/{{loc.list[4].weather[0].icon}}@2x.png" style="margin-top: -10px">
  <h3 style="padding-left: 30px; margin-top: -10px">{{(loc.list[4].main.temp - 273.15) | number:'1.0-0'}}°C</h3>
  <h2 style="padding-left: 30px; font-size: 10px">{{loc.list[4].dt_txt | date:'shortTime' }}</h2>
</div>
